<strong>Perdeu sua senha {{name}} ?</strong>

<p>Que pena que você esqueceu sua senha, mas vamos te ajudar com isso</p>
<p>Aqui está seu token: {{token}} utilize ele ou clique no link abaixo</p>
<a href="{{url}}">Clique aqui</a>
